Repository sapcc/kubernikus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bugroger, @databus23, @edda, @auhlig, @schwarzm, @jonathanschwarze, @vonneudeck

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

*                           @bugroger @databus23 @edda @auhlig @schwarzm @jonathanschwarze @vonneudeck
/charts                     @databus23 @bugroger @vonneudeck @auhlig
/charts/k8sniff             @auhlig @databus23
/charts/kubernikus-system   @auhlig @bugroger
/charts/kube-master         @databus23 @bugroger
/charts/kubernikus          @databus23 @bugroger
/ci                         @databus23 @bugroger
/contrib                    @bugroger @databus23
/docs                       @bugroger @jonathanschwarze
/pkg                        @databus23 @bugroger
/pkg/templates              @schwarzm @bugroger
/pkg/cmd/kubernikusctl      @schwarzm @bugroger
/pkg/cmd/kubernikusctl/auth @bugroger @databus23
swagger                     @databus23 @bugroger

Redirect Kubernikus slack channel and fix link
  README.md
Owners: @bugroger, @databus23, @edda, @auhlig, @schwarzm, @jonathanschwarze, @vonneudeck

transfer from sap docs
  docs/guide/getting_started.md
Owners: @bugroger, @jonathanschwarze

transfer from sap docs
  docs/guide/best_practices.md
Owners: @bugroger, @jonathanschwarze

add os: prefix
  docs/guide/authentication.md
Owners: @bugroger, @jonathanschwarze

add target port and new apply url
  docs/guide/common_addons.md
Owners: @bugroger, @jonathanschwarze

add doc images
  assets/images/docs/containers/kubernetes/credentials.png
  assets/images/docs/containers/kubernetes/loadbalancer0.png
  assets/images/docs/containers/kubernetes/loadbalancer1.png
  assets/images/docs/containers/kubernetes/loadbalancer2.png
  assets/images/docs/containers/kubernetes/roleassignment.png
  assets/images/docs/containers/kubernetes/setup.png
  assets/images/docs/containers/kubernetes/userroleassignments.png
Owners: @bugroger, @databus23, @edda, @auhlig, @schwarzm, @jonathanschwarze, @vonneudeck

fixed the insecure: skip thingy
  charts/kubernikus-system/charts/prometheus/templates/_prometheus.yaml.tpl
Owners: @auhlig, @bugroger

scrape kubelets, cadvisor (#180)
  charts/kubernikus-system/charts/prometheus/templates/_prometheus.yaml.tpl
Owners: @auhlig, @bugroger
